duckdb==1.0.0
pandas==2.2.2
pyarrow==16.1.0
numpy==1.26.4
lightgbm==4.4.0
scikit-learn==1.5.0
mlflow==2.16.0
matplotlib==3.9.0


qdrant-client==1.10.0
sentence-transformers==3.0.1
ollama==0.2.1

langgraph==0.1.5
langchain-core==0.2.9

streamlit==1.36.0
